h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: chartreuse;
    background-color: black;
}

p {
    color: red;
    background-color: gray;
}
h2 {
    color: Red;
}
