* {
    background-color: aqua;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: chartreuse;
    background-color: black;
}
body {
    background-color: darksalmon;
}
p {
    color: blue;
    font-size: large;
}
h2 {
    color: white;
    background-color: brown;
}
table{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 10px;
    background-color: brown;
    color: white;
    border-color: black;
}
img {
padding-left: 10%;
}